@model IEnumerable<MovieTickets.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container">
@if (Model != null)
{
   
    foreach (var item in Model)
    {
        
            <div class = "posters">
                <ul>
                    <li>
                        <a href=@Url.Action("Film", "Home",new{id = item.Id})>
                            <img src=@Url.Content(@String.Format("./../../Content/Images/"+item.Image)) />
                        </a>
                    </li>
                    <li class="position">
                          <a href=@Url.Action("GetSeance", "Ticket" ,new{idFilm = item.Id})>Купить билет</a>
                    </li>
                </ul>
            </div>
        
    }
    
}
</div>