@model IEnumerable<MovieTickets.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <a href=@Url.Action("Film", "Home",new{id = item.Id})>
                    <img src=@Url.Content(@String.Format("./../../Content/Images/"+item.Image)) />
                </a>
                @Html.ActionLink("Купить билет", "Hall", "Ticket");
            </td>
        </tr>
    }
}