@model MovieTickets.ViewModels.HallViewModel

@{
    ViewBag.Title = "GetSeance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Seances.Count > 0)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
           
                <div class="col-md-10">
                    @if (Model.Seances != null)
                    {
                        @Html.DropDownListFor(model => model.SeanceId, Model.Seances)
                    }
                </div>
            </div>

            <div class="form-group right">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Выбрать место" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>На данный фильм нет доступных сеансов.</h1>
}