@using System.Web.Optimization
@using MovieTickets.HtmlHelpers
@model MovieTickets.ViewModels.HallViewModel

@{
    ViewBag.Title = "Hall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/custom-place-organization")

<div class="container">
    <div class="hall">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.hall').hallRender(@Html.Raw(Json.Encode(Model.PlacesId)));
    });

    function getData() {
        $.ajax({
            url: "./Hall/Ticket",
            type: "POST",
            data: {
                data: getSelectedPlaceId(),
                seanceId : @Model.SeanceId
            },
            success: function () {
                window.location.href = '@(Html.ActionUri("Index", "Home"))';
            }
            

        });
    }
</script>

<input type="submit" onclick=" getData() " value="Добавить в корзину"/>