@model IEnumerable<MovieTickets.ViewModels.TicketViewModels>
@{
    ViewBag.Title = "Hall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.CurrentUser</h2>

<script src ="../../Scripts/places-organization.js"></script>
<div class="hall">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        places();
        $('.place #1').click();
    });
    
</script>




